*{
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
}

/* .pin-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
} */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container{
  padding-top: 5px;
}

.margin-left{
  margin-left: 1em;
}

.default-font-color{
  color: black;
}

.primary-font-color{
  color: #fff;
}

.top-padding{
  padding-top: 0.5em;
}

.wrapped{
  width: 70%;
  margin: 0 auto;
}

.background-main{
  background-color: #384259;
}

.topbar-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: yellow; */
}

.title-bar {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.no-decoration{
  text-decoration: none;
}

.search-input{
  height: 4em;
  width: 33em;
  padding: 2em;
}

.search-button{
  background-color: white;
  width: 3em;
  height: 3em;
  float: right;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 7px;
}

.large-font{
  font-size: 1.25em;
}

.navbar-wrapper{
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.categories-container{
  flex: 0.9;
}

.category-link{
  margin-right: 2.5em;
}

.category-link:hover{
  color: gold;
}

.grey-border-bottom{
  border-bottom: 1px solid lightgray;
}

.is-active{
  color: gold;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide { font-family: "Montserrat", sans-serif; }

.w3-main{
  margin-left: 250px;
}

#mySidebar{
  z-index: 3;
  width: 250px;
}

#categoryList{
  font-weight: bold;
}

#hideLargeMain{
  margin-top: 83px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 30%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-main button:hover{
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.login-wrapper{
  padding: 20px;
}

.is-active{
  background-color: lightgray;
}

.product-form-wrapper{
  margin-left: 140px;
}

.product-form input, textarea, button, select{
  margin: 5px;
}

.order-container{
  border: 1px solid lightgray;
}

textarea{
  border: 1px solid lightgray;
}

/* .product-form input, textarea{
  width: 300px;
} */

.undecorated{
  text-decoration: none;
}

.fa-search{
  cursor: pointer;
}

.search-bar{
  width: 0px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;  
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-bar:focus{
    width: 40%;
}

.delete-button{
  margin-left: 140px;
  margin-top: 60px;
  background-color: red;
}

.flex{
  display: flex;
}

.space-evenly{
  justify-content: space-evenly;
}

/* .search {    
    width: 200px;
    padding: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 18px;  
}

.search:focus{
  border-radius: 0px;
}

.hidden{
  display: none;
}

.dollar-sign{
  margin-left: 5px;
} */

button{
  cursor: pointer;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.product-view-container{
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.product-detail-img{
  width: 600px;
  height: 600px;
}

light-grey{
  color: lightgray;
}

.pink-bg{
  background-color: #E91E63;
}

.quote-button{
    padding: 0 60px;
    color:#fff;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid lightgray;
    border-radius: 5px;
}
/* 
.price-quote-label{

} */

.quote-input{
    height: 3em;
    width: 16em;
    margin-bottom: 1em;
}

.error{
  color: red;
}

.fa-shopping-cart:hover{
  color: gold;
}